
body { font-family: Arial, sans-serif;
    text-align: center;
    padding: 40px;
    background-color: beige; }


#word { 
    font-size: 24px;
    letter-spacing: 8px;
   color:black; 
}

#message { 
    margin-top: 15px;
    font-weight: bold; 
}
button{
    background-color:rgb(252, 252, 200);
    color:black ;
}